.container-card{
    background-color: #ece2c6;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%; */
    height: 40em;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 225px;
    max-height: 400px ;
    min-width: 320px;
    max-width: 1440;
}

.card {
    background-color: #d49c33;
    /* border: solid 2px black; */
    font-family: sans-serif;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    font-size: calc(1em + 0.8);
}

.card ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;

}
/* 
input {
    margin: 10px;
    border-style: none;
    text-align: center;
}

#textarea {
    height: 120px;
} */